.about-me {
  &__skills-container {
    grid-column: 3/7;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;

    &__skill {
      padding: 5px 10px;
      border-radius: 10px;
      text-align: center;
      background-color: $light-color;
    }
  }

  &__section {
    display: grid;
    grid-row-gap: 30px;
    grid-template-columns: repeat(6, 1fr);

    @include margin-bottom;

    &__language {
      display: flex;
      justify-content: space-between;
      &__point {
        width: 24px;
        height: 24px;
        background-size: cover;
        background-image: url(../images/circles/unchecked.svg);
      }
      &__rating {
        display: flex;

        &--0 > :nth-child(0),
        &--1 > :first-child,
        &--2 > :nth-child(-n + 2),
        &--3 > :nth-child(-n + 3),
        &--4 > :nth-child(-n + 4),
        &--5 > :nth-child(-n + 5) {
          background-image: url(../images/circles/checked.svg);
        }
      }

      &__container {
        margin-right: 25px;
        grid-column: span 2;
        grid-gap: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:nth-child(2n + 1) {
          margin-right: 0;
          margin-left: 25px;
        }
      }
    }

    &__time {
      grid-column: 1/3;
      font-weight: 500;
      text-decoration: underline;
    }

    &__title {
      text-transform: uppercase;
      position: relative;
      font-size: 32px;
      grid-column: span 6;
      width: fit-content;

      &::before {
        display: block;
        position: absolute;
        content: "";
        background-color: $primary-color;
        width: 100%;
        height: 5px;
        top: 100%;
        border-radius: 40px;
      }
    }

    &__text {
      grid-column: 3/7;
      &__education-name {
        font-size: 24px;
      }
    }

    &__info {
      color: $secondary-color;
      line-height: 32px;
      &__list {
        list-style: inside;
      }
    }
  }
}

#uni-degree {
  font-size: 20px;
  color: $secondary-color;
}
