.page-body {
  display: flex;
  margin-block: 10px;
  justify-content: center;
  font-family: Inter, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  color: $primary-color;
  @include on-mobile {
    margin: 0;
  }
}
